
::-webkit-scrollbar { 
    display: none; 
}
#shop {
    font-family: anton, arial;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    width: 90%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: rgba(10,10, 10, 0.8);
    z-index: 8;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    display: none;
    overflow: scroll;
    font-size: 15px;
}

#shop b, #shop h1 {
    font-weight: normal;
}

#shop b {
    font-size: 1.2em;
}

#shop #money-container {
    
}


#shop #money-container img {
    vertical-align: middle;
    
}


#shop #money-container #money {
    font-size: 1.3em;
    display: inline;
}


#shop table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

#shop table td {
    padding-top: 10px;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 10px;
    text-align: left;
    min-width: 80px;
}

#shop th {
    text-align: left;
}

#shop button {
    font-family: anton, arial;
    font-size: 1em;
    background: white;
    border: 0;
    color: black;
}

#shop button img {
    vertical-align: middle;
    width: 30%;
    height: 30%;
}

#shop h1 {
    padding: 0;
    margin: 0;
}

#shop p {
    padding: 0;
    margin: 0;
    color: #ccc;
    font-size: 0.9em;
}

#shop #close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    color: white;
    font-size: 100px;
    top:-30px;
    line-height: 1;
}